#header
	#page_header.container.row
		h1#logo.span6
			| <span class='dark-grey'>CLASS</span><span class='light-blue'>IFY</span>
		nav.span6.row
			ul
				li.span4.nav_link
					| explore
				li.span4.nav_link
					|
				li.span4.nav_link
					|
