//- General Layout File - Applies to All Pages
!!!5

head
	link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
	link(rel='stylesheet', type='text/css', href='views/stylesheets/layout.css')

body
	title= title

	include partials/_header

	block body

	include partials/_scripts